<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Inicio</title>
</head>
<body>

<form th:action="@{/formData}" th:object="${student}" method="post">
	<label>Nombre:</label><input type="text" th:field="*{nombre}">
	<label>Apellido:</label><input type="text" th:field="*{apellido}">
	<label>Fentrada:</label><input type="date" th:field="*{fEntrada}">
	<label>Carreara:</label><input type="text" th:field="*{carrera}">
	<label>Activo:</label><input type="radio" th:field="*{estado}" th:value="true">
	<label>Inactivo:</label><input type="radio" th:field="*{estado}" th:value="false">
	
	<input type="submit" value="enviar">
	

</form>

</body>
</html>